<footer class="bg-gray-50 py-4">
  <div class="container flex flex-col items-center mx-auto md:flex-row">
    <a
      href="/"
      class="text-[#5cb85c] hover:text-[#449d44] hover:underline font-titillium"
      >conduit</a
    >
    <span
      class="mt-2 font-light text-sm text-gray-400 md:ml-2.5 md:mt-0 text-center"
    >
      An interactive learning project from <a href="https://thinkster.io"
        >Thinkster</a
      >. Code &amp; design licensed under MIT.
    </span>
  </div>
</footer>
