<nav
  class="bg-white py-2.5 rounded-b fixed w-full z-20 shadow-md shadow-gray-300"
>
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a class="flex items-center" href="/">
      <span
        class="self-center text-primary text-2xl font-titillium whitespace-nowrap"
        >conduit</span
      >
    </a>
    <div class={`w-full md:block md:w-auto`} id="navbar-default">
      <ul
        class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
      >
        <li>
          <a
            class={`block p-2 text-gray-400 border-b border-gray-100 md:border-0 md:p-0 hover:bg-gray-50 hover:text-gray-700 md:hover:bg-transparent ${Astro.url.pathname === '/' && 'cursor-default text-gray-900 hover:text-black'}`}
            href="/">Home</a
          >
        </li>
        <li>
          <a
            class={`block p-2 text-gray-400 border-b border-gray-100 md:border-0 md:p-0 hover:bg-gray-50 hover:text-gray-700 md:hover:bg-transparent ${Astro.url.pathname === '/login' && 'cursor-default text-gray-900 hover:text-black'}`}
            href="/login">Sign in</a
          >
        </li>
        <li>
          <a
            class={`block p-2 text-gray-400 border-b border-gray-100 md:border-0 md:p-0 hover:bg-gray-50 hover:text-gray-700 md:hover:bg-transparent ${Astro.url.pathname === '/register' && 'cursor-default text-gray-900 hover:text-black'}`}
            href="/register">Sign up</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
