---
import Layout from '@/layout.astro'
import { Counter } from '@/components/counter'
---

<Layout>
  <div class="text-white bg-primary shadow-gray-300">
    <div class="container flex flex-col items-center mx-auto py-8 space-y-2">
      <h1 class="font-titillium font-extrabold text-6xl drop-shadow-lg">
        conduit
      </h1>
      <p class="font-light text-xl sm:text-2xl whitespace-nowrap">
        A place to share your knowledge.
      </p>
    </div>
  </div>
</Layout>
